<!-- Wrapper -->
<div id="wrapper">

<!-- Header -->
<header id="header"{% if page.layout == "landing" %} class="alt style2"{% endif %}{% if page.layout == "home" %} class="alt"{% endif %}>
	<a href="{{ "" | absolute_url }}/" class="logo"><strong>{{ site.title }}</strong> <span>{{ site.subtitle }}</span></a>
	<nav>
		<a href="#menu">Menu</a>
	</nav>
</header>

<!-- Menu -->
<nav id="menu">
	<ul class="links">
		{% assign pages = site.pages | where_exp: "item", "item.nav-menu != false" %}

        {% for page in pages %}
	        <!-- Arrange accordingly -->
	    	{% if page.short-title-bool == true %}
		        <li><a href="{{ page.url  | relative_url }}">{{ page.short-title }}</a></li>
	    	{% else %}
		        <li><a href="{{ page.url  | relative_url }}">{{ page.title }}</a></li>
	    	{% endif %}
		{% endfor %}
        <!-- {% for page in site.pages %}
	    	{% if page.url == "perceptualConstancy" %}
		        <li><a href="{{ "" | absolute_url }}/">{{ page.title }}</a></li>
	    	{% endif %}
    	{% endfor %}
        {% for page in site.pages %}
	    	{% if page.url == "noetherTheorem" %}
		        <li><a href="{{ "" | absolute_url }}/">{{ page.title }}</a></li>
	    	{% endif %}
	    {% endfor %}
        {% for page in site.pages %}
	    	{% if page.url == "brainstorm" %}
		        <li><a href="{{ "" | absolute_url }}/">{{ page.title }}</a></li>
	    	{% endif %}
	    {% endfor %}
	    {% for page in site.pages %}
	    	{% if page.url == "assumptions_critique" %}
		        <li><a href="{{ "" | absolute_url }}/">Assumptions & Critiques</a></li>
	    	{% endif %}
	    {% endfor %}
	    {% for page in site.pages %}
	    	{% if page.url == "previousWork" %}
		        <li><a href="{{ "" | absolute_url }}/">{{ page.title }}</a></li>
	    	{% endif %}
		{% endfor %} -->
	</ul>
	<p></p>
	<ul class="actions vertical">
		<li><a href="guidedTour.html" class="button special fit">Guided Tour</a></li>
		<!-- <li><a href="#" class="button fit">Log In</a></li> -->
	</ul>
</nav>
